<div class="posts">
  <h1 class="main-title">Comments</h1>

  <% if @post.comments.empty? %>
    <h5 class="no_post_text text-center"><i>There's no comment in this topic.</i></h5>
  <% else %>
    <div id="comments">
      <% @comments.each do |comment| %>
        <%= render partial: "comment", locals: { comment: comment, post: @post } %>
      <% end %>
    </div>
  <% end %>

  <div class="text-center">
    <%= link_to "Back", topic_posts_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="new_post" id="new_comment">
  <%= render partial: "form", locals: { comment: @comment, post: @post } %>
</div>
