.topics {
  .topic-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }

  .border {
    margin: 20px 30px;
    height: 80px;
    display: flex;
    flex: 0 0 100%;
    background-color: orange;
    border-width: medium;
    border-color: black;
    border-style: solid;
  }

  .main-title{
    font-size: 100px;
  }

  .main-text{
    font-size: 30px;
    margin: 5px 10px;
  }

  .description {
    margin: auto 10px;
    font-size: 15px;
  }

  .topicdescription {
    flex: 0 0 90%;
  }

  .edit_button {
    flex: 0 0 10%;
    margin: auto 10px;
    max-width: 100px;
  }

  // .topics-container {
  //   display: flex;
  //   flex-wrap: wrap;
  //   max-width: 600px;
  //   margin: 0 auto;
  //
  //   .topic {
  //     flex: 0 0 100%;
  //     display: flex;
  //     background-color: orange;
  //
  //     .topic-title {
  //       flex: 0 0 30%;
  //     }
  //
  //     .topic-description {
  //       flex: 1 0 60%;
  //     }
  //
  //     .btn-settings {
  //       flex: 0 0 10%;
  //     }
  //   }
  // }
}
