<div class="posts">
  <h1 class="main-title">Posts</h1>
  <% if @topic.posts.empty? %>
    <h5 class="no_post_text text-center"><i>There's no post in this topic.</i></h5>
  <% else %>
    <div id="posts">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post, topic: @topic } %>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <%= link_to "Back", topics_path, class: "btn btn-primary" %>
  </div>

  <div class="new_post", id ="new_post">
    <%= render partial: "form", locals: { post: @post, topic: @topic } %>
  </div>
</div>
